<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
   </head>
<body>
<input type="checkbox" id="menu-check">  
<label id="menuToggle" for="menu-check">  
   <span></span>  
   <span></span>  
   <span></span>  
   </label>
<nav class="navMenu">  
   <a href="./pages/login/login.html" id="loginBtn">
      <button id="loginButton" type="submit">
         ثبت نام | ورود
      </button>
   </a>
   <ul> 
      <li>
         <img id="imgS" src="assets/icons-svg/login-3-svgrepo-com (1).svg" alt="" />

        <a href="index.html" id="home" class="home">خانه</a>
      </li>  
      <li>      
      <img id="" src="assets/icons-svg/" alt="" />

        <a href="pages/fxmarketHours.html" id="fxmarketHours">ساعت های بازار فارکس</a>
      </li>  
      <li>
                  <img id="" src="assets/icons-svg/" alt="" />

        <a id="education" href="pages/education/education.html">آموزش</a>
      </li>  
      <li>
                  <img id="" src="assets/icons-svg/" alt="" />

        <a id="calendar" href="pages/economic-calendar/economic-calendar.html">تقویم اقتصادی</a>
      </li>  
      <li>
                  <img id="" src="assets/icons-svg/" alt="" />

        <a id="contact" href="pages/contact.html">تماس با ما </a>
      </li>  
      <li>
         <img id="" src="assets/icons-svg/" alt="" />
        <a id="forUs" href="#">درباره ما</a>
      </li> 
   </ul> 
      
<div id="DarkModeButton">
   <p id="textDarkModeButton">
      حالت روشن | تاریک
   </p>
   <div class="toggle-container" id="toggleBtn">
      <div class="toggle-circle"></div>
   </div>
</div>
   </nav>
</body>
</html>